
@{
    ViewBag.Title = "Search";
}

@section body {

<div class="search">


    <!-- Search Contents -->

    <div class="container fill_height">
        <div class="row fill_height">
            <div class="col fill_height">

                <!-- Search Panel -->

                <div class="search_panel active">
                    <form action="#" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                        <div class="search_item">
                            <div><label class="black_text">destination</label></div>
                            <input type="text" class="destination search_input" required="required">
                        </div>
                        <div class="search_item">
                            <div><label class="black_text">check in</label></div>
                            <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                        </div>
                        <div class="search_item">
                            <div><label class="black_text">check out</label></div>
                            <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                        </div>
                        <div class="search_item">
                            <div><label class="black_text">adults</label></div>
                            <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                            </select>
                        </div>
                        <div class="search_item">
                            <div><label class="black_text">children</label></div>
                            <select name="children" id="children_1" class="dropdown_item_select search_input">
                                <option>0</option>
                                <option>02</option>
                                <option>03</option>
                            </select>
                        </div>
                        <button class="button search_button">search<span></span><span></span><span></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

}