
@{
    ViewBag.Title = "Home";
}

@section body {

<div class="container">
    <div class="row">
        <div class="col">

            <!-- CTA Slider -->

            <div class="cta_slider_container">
                <div class="owl-carousel owl-theme cta_slider">

                    <!-- CTA Slider Item -->
                    <div class="owl-item cta_item text-center">
                        <div class="cta_title">pagina inicio</div>
                        
                        <p class="cta_text">Aquí estará nuestro mensaje de home o bienvenida.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


}